{% extends "mercaderias/base_mercaderias_lista.html" %}
{% block title %}Mercaderias{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Mercaderias
          </h1>
          <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Mercaderias</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title"><a href="{% url 'mercaderias:nueva' %}" class="btn btn-success">
                      Nueva Mercaderia
                    </a></h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                  </div><!-- /.box-header -->
                  <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                     <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Precio de Compra</th>
                        <th>Precio de Venta</th>
                        <th>Unidades por Caja</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>

                     {% for mercaderia in mercaderias %}

                        <tr>
                          <td>{{ mercaderia.codigo}}</td>
                          <td>{{ mercaderia.descripcion }}</td>
                          <td>{{ mercaderia.precio_compra }}</td>
                          <td>{{ mercaderia.precio_venta }}</td>
                          <td>{{ mercaderia.unidades_por_caja }}</td>
                          <td class="text-right">
                                  <a href="{{ mercaderia.get_update_url }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                                  <a href="{{ mercaderia.get_delete_url }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>

                          </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
{% include "footer.html" %}
 {% endblock producto %}
{% endblock content %}