{% extends "ventas/base_ventas.html" %}
{% block title %}Cargar Venta{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}
<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
         <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Cargar Venta
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Cargar Venta</li>
          </ol>
        </section>
        <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">

              <div class="row">
                <div class="col-lg-12">
                <a href="javascript:history.go(-1);" class="btn btn-success">
                      <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
              </div><!-- col -->
              </div> <!-- row -->


             </div><!-- /.box-header -->

              <div class="box-body">

                <div class="row">
                      <div class="col-lg-12">
                            <!-- {% csrf_token %} -->
                            <div class="row">

                                <div class="col-xs-12 col-sm-10">
                                    <div class="form-group has-success has-feedback ">
                                        <label class="control-label col-sm-2" for="inputSuccess3">Código de Barras</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="barcode" class="form-control" id="codigo_form" data-toggle="tooltip" data-placement="top" autofocus='true' >
                                        </div>
                                    </div>


                                </div> <!-- col -->
                            </div> <!--<div class="row"> -->
                      </div>
              </div><!--/.row-->

              <form class="form-horizontal" method="post">
              {% csrf_token %}
              <div class="row" style="margin-top: 30px">
                <div class="col-md-12" >
                  <table id="tabla_venta" class="table table-bordered">
                      <colgroup>
                        <col class="col-md-2">
                        <col class="col-md-1">
                        <col class="col-md-5">
                        <col class="col-md-2">
                        <col class="col-md-1">
                        <col class="col-md-1">
                      </colgroup>
                      <thead>
                       <tr>
                          <th>Código</th>
                          <th>Cantidad</th>
                          <th>Descripción</th>
                          <th>Precio Unitario</th>
                          <th>Subtotal</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for form in formset %}

                              <tr class = "{% if forloop.first %} hidden {% endif %} dynamic-form" id="{{ form.prefix }}-row">
                                <td>{{ form.codigo }}</td>
                                <td>{{ form.cantidad }}</td>
                                <td>{{ form.detalle }} </td>
                                <td>{{ form.precio_unitario }}</td>
                                <td> <p class="detalle_subt" id="id_{{ form.prefix }}-subtotal"> </p></td>
                                <td class="text-right">
                                        <div class="btn btn-danger eliminar-row"><span class="glyphicon glyphicon-trash"></span></div>
                                </td>
                              </tr>
                            {% endfor %}
                      </tbody>

                    </table>
                    {{ formset.management_form }}
                  </div> <!-- Col -->
                </div> <!-- Row -->

                  <div class="row" style="margin-top: 15px">
                  <div class="col-xs-6">
                  </div>
                  <div class="col-xs-6">
                      <div class"table-responsive">
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <th style="width:50%">Total: $:</th>
                                      <td align="center" id="total_venta"> </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>

                <div class="panel-footer color-footer">
                  <button type="submit" class="btn btn-primary" id="save_button">
                               Grabar
                  </button>
                </div>
                </form>
            </div><!-- /.box body -->
          </div><!-- /.box info -->
          </div><!--col-->
        </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
{% include "footer.html" %}
 {% endblock producto %}
{% endblock content %}
{% block js %}
    {{ block.super }}

    <!-- Dynamic formset -->
    <script src="/static/js/dynamic_formset.js"></script>


    <script>
        function calcular_total(){
          var i;
          var total = 0.0;
          var subtotales_sel = $("p.detalle_subt");

          for(i = 1; i < subtotales_sel.length; i++){
            total += parseFloat(subtotales_sel[i].innerHTML);
          }

          $("#total_venta").text(total.toFixed(2));
        }

        $(document).ready(function() {

            // Logica para cargar stock en el form
            $("#codigo_form").change(function(){
                var codigo_from_form = $("#codigo_form").val();
                var url = "/ventas/detalle_by_codigo/" + codigo_from_form + "/";

                $.get(url, function(data, status){
                  if(data.length == 0){
                    alert("Código no encontrado. Agregar la mercaderia a la Base de datos");
                    $("#codigo_form").val("");
                  }
                  else {
                    addForm('form');
                    var my_data = JSON.parse(data);
                    var crntIndex = parseInt($('#id_form-TOTAL_FORMS').val()) - 1;

                    // Set form fields
                    $("#id_form-" + crntIndex + "-codigo").val(my_data["codigo"]);
                    $("#id_form-" + crntIndex + "-cantidad").val(my_data["cantidad"]);
                    $("#id_form-" + crntIndex + "-detalle").val(my_data["descripcion"]);
                    $("#id_form-" + crntIndex + "-precio_unitario").val(my_data["precio_unitario"]);
                    $("p#id_form-" + crntIndex + "-subtotal").text(my_data["precio_unitario"]);

                    calcular_total();

                    $("#codigo_form").val("");
                  }

                });
            });

            $("#tabla_venta").on("change", ".precio-unitario", function(){
              var prefix = $(this).attr("id").replace("precio_unitario","");
              var subtotal = $(this).val() * $("#" + prefix + "cantidad").val();

              $("p#" + prefix + "subtotal").text(subtotal.toFixed(2));
            });

            $("#tabla_venta").on("keypress", ".precio-unitario", function(event){
                if (event.keyCode == 13) {
                    event.preventDefault();
                    var prefix = $(this).attr("id").replace("precio_unitario","");
                    var subtotal = $(this).val() * $("#" + prefix + "cantidad").val();

                    $("p#" + prefix + "subtotal").text(subtotal.toFixed(2));
                }
            });

            $("#tabla_venta").on("change", ".cantidad", function(){
              var prefix = $(this).attr("id").replace("cantidad","");
              var subtotal = $(this).val() * $("#" + prefix + "precio_unitario").val();

              $("p#" + prefix + "subtotal").text(subtotal.toFixed(2));
            });

            $("#tabla_venta").on("keypress", ".cantidad", function(event){
                if (event.keyCode == 13) {
                    event.preventDefault();
                    var prefix = $(this).attr("id").replace("cantidad","");
                    var subtotal = $(this).val() * $("#" + prefix + "precio_unitario").val();

                    $("p#" + prefix + "subtotal").text(subtotal.toFixed(2));
                }
            });

            //Botton Borrar columna
            $("#tabla_venta").on("click","div.eliminar-row" ,function(){
              deleteForm(this, "form");
              calcular_total();
            });


        });

    </script>
{% endblock js%}
