  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">RDC</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">ReyDeCopas</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account: style can be found in dropdown.less -->
               <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                 <li class="user-header">
                     <p>
                       {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'usuarios:logout' %}" class="btn btn-default btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <!--<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>-->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
        <!--  <div class="user-panel">
            <div class="pull-left image">
            <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="img-circle" alt="User Image" >
            </div>
            <div class="pull-left info">
              <p>{{ user.username|capfirst }} {{ user.last_name|capfirst }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div> -->

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">NAVEGACION</li>



            <li class="treeview">
              <a href="#">
                <i class="fa fa-tag"></i> <span>Mercaderias</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="{% url 'mercaderias:lista' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                <li class="active"><a href="{% url 'mercaderias:lista_promos' %}"><i class="fa fa-check-square"></i> Promos</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-list"></i> <span>Stock</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="{% url 'stock:lista' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                 <li class="active"><a href="{% url 'stock:cargar' %}"><i class="fa fa-plus"></i> Cargar</a></li>
              </ul>
            </li>


            <li class="treeview">
              <a href="#">
                <i class="fa fa-tag"></i> <span>Ventas</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
               <!-- <li class="active"><a href="#"><i class="fa fa-check-square"></i> Lista</a></li> -->
                 <li class="active"><a href="{% url 'ventas:lista' %}"><i class="fa fa-check-square"></i> Lista </a></li>
                 <li class="active"><a href="{% url 'ventas:cargar' %}"><i class="fa fa-plus"></i> Cargar</a></li>
                 <li class="active"><a href="{% url 'ventas:lista_precios' %}"><i class="fa fa-dollar"></i> Lista de Precios</a></li>
              </ul>
            </li>

        <!--    <li class="header">Alertas</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Medicamentos</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Compras</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Ventas</span></a></li>      -->
        </section>
        <!-- /.sidebar -->
      </aside>

